In [1]:
# Does the necessary imports!
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import string
import time
import math

In [2]:
# Gets main page's HTML
mainpagelink = 'http://racingchannel.com/results_archive.php'
mainpagehtml = requests.get(mainpagelink).text

In [3]:
# Gets list of racetracks, racetrackcodes, and creates a dict of the two (can flip the order if necessary)
racetrackshtmllst = BeautifulSoup(mainpagehtml, 'html.parser').body.table.findAll('tr')[4].findAll('td')
tracks = []
trackcodes = []
trackdatalinks = []
for tracklst in racetrackshtmllst:
    tracklinks = tracklst.findAll('a')
    for link in tracklinks:
        #print link.get('href').encode('ascii')
        trackdatalinks.append('http://racingchannel.com/'  + link.get('href').encode('ascii'))
        trackcodes.append(link.get('href')[10:13].encode('ascii'))
        tracks.append(link.text.encode('ascii'))
tracks[1] = 'Arlington Park'
# print tracks
# print '\n\n'
# print trackcodes
# print '\n\n'
trackcodedict = dict(zip(tracks, trackcodes))
tracklinkdict = dict(zip(tracks, trackdatalinks))
# print '\n\n'
trackinfodf = pd.DataFrame(index=tracks)
trackinfodf['code'] = trackcodes
trackinfodf['link'] = trackdatalinks
trackinfodf.head()

                      code                                               link
Aqueduct               AQU  http://racingchannel.com//archives/AQU/default...
Arlington Park         ARL  http://racingchannel.com//archives/ARL/default...
Australian Racing      AU1  http://racingchannel.com//archives/AU1/default...
Australian Racing - B  AU2  http://racingchannel.com//archives/AU2/default...
Australian Racing - C  AU3  http://racingchannel.com//archives/AU3/default...

In [4]:
# Stores the html of all track info pages

#############################################################
## SKIP THIS IF TEMPDATA ALREADY HAS TRACKINFO.CSV IN IT!!!! ##
#############################################################


htmloftracks = []
for link in trackdatalinks:
    htmloftracks.append(BeautifulSoup(requests.get(link).text, 'html.parser'))
    print link
    time.sleep(5)

trackinfodf['track_html'] = htmloftracks
trackinfodf.head(10)

# Stores track codes and links in csv
trackinfodf.to_csv('tempdata/trackinfo.csv', index_label='name')

http://racingchannel.com//archives/AQU/default.html
http://racingchannel.com//archives/ARL/default.html
http://racingchannel.com//archives/AU1/default.html
http://racingchannel.com//archives/AU2/default.html
http://racingchannel.com//archives/AU3/default.html
http://racingchannel.com//archives/BAY/default.html
http://racingchannel.com//archives/BEL/default.html
http://racingchannel.com//archives/BEU/default.html
http://racingchannel.com//archives/CAL/default.html
http://racingchannel.com//archives/CAM/default.html
http://racingchannel.com//archives/CAN/default.html
http://racingchannel.com//archives/CTN/default.html
http://racingchannel.com//archives/CHU/default.html
http://racingchannel.com//archives/COL/default.html
http://racingchannel.com//archives/DDN/default.html
http://racingchannel.com//archives/DEL/default.html
http://racingchannel.com//archives/DPK/default.html
http://racingchannel.com//archives/ELL/default.html
http://racingchannel.com//archives/EMD/default.html
http://racingchannel.com//archives/EVN/default.html
http://racingchannel.com//archives/FGD/default.html
http://racingchannel.com//archives/FMT/default.html
http://racingchannel.com//archives/FLX/default.html
http://racingchannel.com//archives/FLK/default.html
http://racingchannel.com//archives/FTE/default.html
http://racingchannel.com//archives/GOL/default.html
http://racingchannel.com//archives/GB1/default.html
http://racingchannel.com//archives/GB2/default.html
http://racingchannel.com//archives/GLD/default.html
http://racingchannel.com//archives/GUL/default.html
http://racingchannel.com//archives/HAS/default.html
http://racingchannel.com//archives/HAW/default.html
http://racingchannel.com//archives/HPX/default.html
http://racingchannel.com//archives/HOO/default.html
http://racingchannel.com//archives/IND/default.html
http://racingchannel.com//archives/KND/default.html
http://racingchannel.com//archives/KEN/default.html
http://racingchannel.com//archives/LAU/default.html
http://racingchannel.com//archives/LDN/default.html
http://racingchannel.com//archives/LON/default.html
http://racingchannel.com//archives/LOS/default.html
http://racingchannel.com//archives/MDL/default.html
http://racingchannel.com//archives/MON/default.html
http://racingchannel.com//archives/MTR/default.html
http://racingchannel.com//archives/NCF/default.html
http://racingchannel.com//archives/OAK/default.html
http://racingchannel.com//archives/PEN/default.html
http://racingchannel.com//archives/PHI/default.html
http://racingchannel.com//archives/PIM/default.html
http://racingchannel.com//archives/POR/default.html
http://racingchannel.com//archives/PRM/default.html
http://racingchannel.com//archives/REM/default.html
http://racingchannel.com//archives/RET/default.html
http://racingchannel.com//archives/RIV/default.html
http://racingchannel.com//archives/SAM/default.html
http://racingchannel.com//archives/SAN/default.html
http://racingchannel.com//archives/SGA/default.html
http://racingchannel.com//archives/ZA1/default.html
http://racingchannel.com//archives/ZA2/default.html
http://racingchannel.com//archives/SPT/default.html
http://racingchannel.com//archives/SUF/default.html
http://racingchannel.com//archives/TAM/default.html
http://racingchannel.com//archives/THI/default.html
http://racingchannel.com//archives/TIM/default.html
http://racingchannel.com//archives/PAR/default.html
http://racingchannel.com//archives/TUR/default.html
http://racingchannel.com//archives/WOB/default.html

/Applications/anaconda/lib/python2.7/site-packages/bs4/__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

To get rid of this warning, change this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

In [4]:
# Loads trackinfodf from the csv in tempdata
try:
    del trackinfodf
except:
    pass
trackinfodf = pd.read_csv('tempdata/trackinfo.csv', index_col='name')
trackinfodf['track_html'] = trackinfodf['track_html'].apply(lambda h:BeautifulSoup(h, 'html.parser'))
trackinfodf.head(5)

,code,link,track_html
name,,,
Aqueduct,AQU,http://racingchannel.com//archives/AQU/default...,<html> <head><title>Aqueduct Results Archive</...
Arlington Park,ARL,http://racingchannel.com//archives/ARL/default...,<html> <head><title>Arlington Results Archive<...
Australian Racing,AU1,http://racingchannel.com//archives/AU1/default...,<html> <head><title>Australia - A Results Arch...
Australian Racing - B,AU2,http://racingchannel.com//archives/AU2/default...,<html> <head><title>Australia - B Results Arch...
Australian Racing - C,AU3,http://racingchannel.com//archives/AU3/default...,<html> <head><title> Results Archive</title></...

In [5]:
# For each track rip the years and months that the track had races ran on it
tracksoups = trackinfodf['track_html']
yrmonthdicts_by_track = []
for soup in tracksoups:
    soup = soup.body.center.findAll('table')[-1].tr.findAll('td')
    years = []
    yrmonths_for_track = []
    for col in soup:
        year = col.text.encode('ascii')[:4]
        years.append(year)
        months = [elem.get('href').encode('ascii')[19:21] for elem in col.findAll('a')]
        yrmonths_for_track.append({year: months})

    yrmonthdicts_by_track.append(yrmonths_for_track)
biggie = dict(zip(trackcodes,yrmonthdicts_by_track))

In [7]:
# Scrapes all the days that the track was in operation for eah month, year, and track combo
%time
trackday_lists = []
for track in sorted(biggie.keys()):
    for yeardict in biggie[track]:
        for month in yeardict.values()[0]:
            monthhtml = BeautifulSoup(requests.get('http://racingchannel.com/archives/{}/{}/{}/default.html'\
                                         .format(track,yeardict.keys()[0],month)).text, 'html.parser').body.center
            try:
                soup = monthhtml.findAll('table')[1]
            except:
                soup = monthhtml.findAll('table')[0]
            days = [daytag.get('href')[29:31].encode('ascii') for daytag in soup.findAll('a')]
            mo = daytag.get('href')[19:21].encode('ascii')
            yr = daytag.get('href')[14:18].encode('ascii')
            trk = daytag.get('href')[22:25].encode('ascii')
            for day in days:
                trackday_lists.append([trk, yr, mo, day]) 
            time.sleep(.00001)

    print track
    
print len(trackday_lists)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.01 µs
AQU
ARL
AU1
AU2
AU3
BAY
BEL
BEU
CAL
CAM
CAN
CHU
COL
CTN
DDN
DEL
DPK
ELL
EMD
EVN
FGD
FLK
FLX
FMT
FTE
GB1
GB2
GLD
GOL
GUL
HAS
HAW
HOO
HPX
IND
KEN
KND
LAU
LDN
LON
LOS
MDL
MON
MTR
NCF
OAK
PAR
PEN
PHI
PIM
POR
PRM
REM
RET
RIV
SAM
SAN
SGA
SPT
SUF
TAM
THI
TIM
TUR
WOB
ZA1
ZA2
100923

In [6]:
print trackday_lists

NameError: name 'trackday_lists' is not defined

In [9]:
# Stores a csv of the different days that races were run since 1998 at each track
# (scraped from the racingchannel.com website in order to make accessing the html easier)
trackdaylistdf = pd.DataFrame(trackday_lists)
trackdaylistdf.to_csv('tempdata/alldays_new.csv')

In [7]:
# Reads back in the list of lists that contains all the days we need to request from racingchannel.com
bigdaydf = pd.read_csv('tempdata/alldays_new.csv')
bigdaydf = bigdaydf[bigdaydf.columns[-4:]]
bigdaydf.columns = ['track','year','month','day']
bigdaydf.head()

  track  year  month  day
0   AQU  1998     10   28
1   AQU  1998     10   29
2   AQU  1998     10   30
3   AQU  1998     10   31
4   AQU  1998     11    1

In [8]:
# Ensure we have all the tracks
print tracks
bigdaydf.track.unique()

['Aqueduct', 'Arlington Park', 'Australian Racing', 'Australian Racing - B', 'Australian Racing - C', 'Bay Meadows', 'Belmont Park', 'Beulah Park', 'Calder Race Course', 'Camarero', 'Canterbury Park', 'Charles Town', 'Churchill Downs', 'Colonial Downs', 'Delta Downs', 'Del Mar', 'Delaware Park', 'Ellis Park', 'Emerald Downs', 'Evangeline Downs', 'Fair Grounds', 'Fairmount Park', 'Fairplex', 'Finger Lakes', 'Fort Erie', 'Golden Gate', 'Great Britain 1', 'Great Britain 2', 'Great Lakes Downs', 'Gulfstream Park', 'Hastings Park', 'Hawthorne Park', 'Hollywood Park', 'Hoosier Park', 'Indiana Downs\n', 'Keeneland', 'Kentucky Downs', 'Laurel Park', 'Louisiana Downs', 'Lone Star Park', 'Los Alamitos', 'Meadowlands', 'Monmouth Park', 'Mountaineer Park', 'Northern California Fairs', 'Oaklawn Park', 'Penn National', 'Philadelphia Park', 'Pimlico', 'Portland Meadows ', 'Prairie Meadows', 'Remington Park', 'Retama Park', 'River Downs', 'Sam Houston', 'Santa Anita', 'Saratoga', 'South Africa1', 'South Africa 2', "Sportsman's Park", 'Suffolk Downs', 'Tampa Bay Downs', 'Thistledown', 'Timonium', 'Turf Paradise', 'Turfway Park', 'Woodbine']

array(['AQU', 'ARL', 'AU1', 'AU2', 'BAY', 'BEL', 'BEU', 'CAL', 'CAN',
       'CHU', 'COL', 'CTN', 'DDN', 'DEL', 'DPK', 'ELL', 'EMD', 'EVN',
       'FGD', 'FLK', 'FLX', 'FMT', 'FTE', 'GB1', 'GLD', 'GOL', 'GUL',
       'HAS', 'HAW', 'HOO', 'HPX', 'IND', 'KEN', 'KND', 'LAU', 'LDN',
       'LON', 'LOS', 'MDL', 'MON', 'MTR', 'NCF', 'OAK', 'PAR', 'PEN',
       'PHI', 'PIM', 'PRM', 'REM', 'RET', 'RIV', 'SAM', 'SAN', 'SGA',
       'SPT', 'SUF', 'TAM', 'THI', 'TIM', 'TUR', 'WOB', 'ZA1', 'ZA2'], dtype=object)

In [9]:
# Drop international tracks
bigdaydf = bigdaydf.set_index(bigdaydf['track'])
usadaydf = bigdaydf.drop(['GB1','ZA1','ZA2','AU1','AU2','FTE','HAS','NCF','WOB'])
print usadaydf.shape
print bigdaydf.shape
usadaydf.to_csv('tempdata/usadays_new.csv')

(81593, 4)
(100923, 4)

In [10]:
# Read in the csv containing USA track days
usadaydf = pd.read_csv('tempdata/usadays_new.csv')
usadaydf.drop('track.1',axis=1, inplace=True)
print usadaydf.shape # this should be like 83000
print '\n'
usadaydf.head() #<--this is the one we want!!!!

(81593, 4)

  track  year  month  day
0   AQU  1998     10   28
1   AQU  1998     10   29
2   AQU  1998     10   30
3   AQU  1998     10   31
4   AQU  1998     11    1

In [10]:
pretime = time.time()
superout = []
# Getting the raw HTML text from racingchannel to be later cleaned with BeautSoup
# The live 1-9 variables and the many if else statements that follow the main code all have to do with 
# setting and hitting checkpoints along the way
acc = 0
livee = True
live1 = True
live2 = True
live3 = True
live4 = True
live5 = True
live6 = True
live7 = True
live8 = True
live9 = True
for tup in usadaydf.itertuples():
    time.sleep(0.05)
    magiclink = 'https://www.racingchannel.com/archives/{}/{}/{:02}/{}{}{:02}{:02}.HTM'\
        .format(tup[1],tup[2],tup[3],tup[1],str(tup[2])[2:],tup[3],tup[4])
    htmlfrompage = requests.get(magiclink).text
    superout.append([tup[1],tup[2],tup[3],tup[4],htmlfrompage])
    acc += 1
    if acc > 100 and livee:
        livee = False
        print "Made it {}".format(acc)
    elif acc > 10000 and live1:
        live1 = False
        print "Made it {}".format(acc)
    elif acc > 20000 and live2:
        live2 = False
        print "Made it {}".format(acc)
    elif acc > 30000 and live3:
        live3 = False
        print "Made it {}".format(acc)
    elif acc > 40000 and live4:
        live4 = False
        print "Made it {}".format(acc)
    elif acc > 50000 and live5:
        live5 = False
        print "Made it {}".format(acc)
    elif acc > 60000 and live6:
        live6 = False
        print "Made it {}".format(acc)
    elif acc > 70000 and live7:
        live7 = False
        print "Made it {}".format(acc)
    elif acc > 80000 and live8:
        live8 = False
        print "Made it {}".format(acc)
        print "Home stretch!!!"  
    

superdf = pd.DataFrame(superout)
superdf.to_csv('tempdata/superdf.csv')

print time.time()-pretime, "seconds"

Made it 101
Made it 10001
Made it 20001
Made it 30001
Made it 40001
Made it 50001
Made it 60001
Made it 70001
Made it 80001
Home stretch!!!

NameError: name 'pretime' is not defined

In [10]:
superdf.iloc[420:440]

    track  year  month  day                                               html
420   AQU  2003      2   12  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
421   AQU  2003      2   13  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
422   AQU  2003      2   14  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
423   AQU  2003      2   15  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
424   AQU  2003      2   16  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
425   AQU  2003      2   19  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
426   AQU  2003      2   20  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
427   AQU  2003      2   21  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
428   AQU  2003      2   22  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
429   AQU  2003      2   23  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
430   AQU  2003      2   26                                                NaN
431   AQU  2003      2   27  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
432   AQU  2003      3    5  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
433   AQU  2003      3    7  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
434   AQU  2003      3    9  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
435   AQU  2003      3   12  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
436   AQU  2003      3   13  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
437   AQU  2003      3   14  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
438   AQU  2003      3   15  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...
439   AQU  2003      3   16  <HTML>\r\n<HEAD>\r\n<TITLE>Aqueduct Results</T...

In [62]:
csv_chunks = pd.read_csv('~/Desktop/superdf.csv', sep = ',', chunksize = 5000)
superdf = pd.concat(chunk for chunk in csv_chunks)
superdf = superdf[superdf.columns[-5:]]
superdf.columns = ['track','year','month','day','html']

# http://stackoverflow.com/questions/17557074/memory-error-when-using-pandas-read-csv

In [ ]:
# should take about an hour
pretime = time.time()
superdf['tabletags'] = superdf.apply(lambda row: BeautifulSoup(row['html'], 'html.parser').html.body.findAll('table') if type(row['html']) is not float else None, axis=1)
# superdf.head(100).apply(lambda row: BeautifulSoup(row['html'], 'html.parser').html.body.findAll('table'), axis=1)
print time.time()-pretime, 'seconds'

In [ ]:
def stringtolist(string):
    elems = []
    curr = ''
    acc = 0
    for char in list(string):
        if char in '[':
            pass
        elif (char == ',' and list(string)[acc-1] in '>') or (char == ']'):
            elems.append(curr)
            curr = ''
        else:
            curr += char
        acc += 1
    return elems
a = '[<new>asdf</new>,<yeet>asdfaghfds,FF<yeet>,<FF>masdfasdf</FF>]'
print stringtolist(a)

In [63]:
superdf.head()

  track  year  month  day                                               html
0   AQU  1998     10   28  <HTML><HEAD><TITLE>Aqueduct Racetrack Results<...
1   AQU  1998     10   29  <HTML><HEAD><TITLE>Aqueduct Racetrack Results<...
2   AQU  1998     10   30  <HTML><HEAD><TITLE>Aqueduct Racetrack Results<...
3   AQU  1998     10   31  <HTML><HEAD><TITLE>Aqueduct Racetrack Results<...
4   AQU  1998     11    1  <HTML><HEAD><TITLE>Aqueduct Racetrack Results<...

In [64]:
class RaceDataSet(object):
    
    def __init__(self, num, datedata):
        self.num = num
        self.datedata = datedata
        self.first = None
        self.second = None
        self.third = None
        self.firstnum = None
        self.secondnum = None
        self.thirdnum = None
        self.win = None
        self.place1 = None
        self.place2 = None
        self.show1 = None
        self.show2 = None
        self.show3 = None
        
    def __str__(self):
        return "{} : {}.....{}.{}...{}.{}...{}.{}\n\t{}...{}.{}.....{}.{}.{}\n".format(self.datedata,self.num,self.firstnum,\
                    self.first,self.secondnum,self.second,self.thirdnum,self.third,self.win,self.place1,\
                    self.place2,self.show1,self.show2,self.show3)
    
    def to_list(self):
        return [self.datedata[0],self.datedata[1],self.datedata[2],self.datedata[3],self.num,self.firstnum,\
                    self.first,self.secondnum,self.second,self.thirdnum,self.third,self.win,self.place1,\
                    self.place2,self.show1,self.show2,self.show3]

In [149]:
def extract(row):
    tags = None
    date = None
    nobolds = []
    if isinstance(row, pd.Series):
        tags = BeautifulSoup(row['html'], 'html.parser').html.body.findAll('table')
        date = [row['track'],row['year'],row['month'],row['day']]
    elif isinstance(row, tuple):
        if str(row[5]) == 'nan':
            return []
        tags = BeautifulSoup(row[5], 'html.parser').html.body.findAll('table')
        date = [row[1],row[2],row[3],row[4]]
    out = []
    for table in tags:
        bail = False
        if table.tr.td.b == None:
            nobolds.append((table.tr.td,date))
        elif 'race' in string.lower(table.tr.td.b.get_text().encode('ascii')):
            trows = table.findAll('tr')
            if len(trows) >= 4:
                row1 = trows[0].findAll('td')
                row2 = trows[1].findAll('td')
                row3 = trows[2].findAll('td')
                row4 = trows[3].findAll('td')
                for elem in [row2[0].get_text().encode('ascii'),row3[0].get_text().encode('ascii'),\
                    row4[0].get_text().encode('ascii')]:
                    if '$2 D/Double' in str(elem):
                        bail = True
                if not bail:
                    if not (len(row2) < 6 or len(row3) < 6 or len(row4) < 6):
                        racenum = row1[1].get_text().encode('ascii')
                        obj = RaceDataSet(racenum, date)
                        obj.firstnum = row2[1].get_text().encode('ascii')
                        obj.first = row2[2].get_text().encode('ascii')
                        obj.secondnum = row3[1].get_text().encode('ascii')
                        obj.second = row3[2].get_text().encode('ascii')
                        obj.thirdnum = row4[1].get_text().encode('ascii')
                        obj.third = row4[2].get_text().encode('ascii')
                        obj.win = row2[3].get_text().encode('ascii')
                        obj.place1 = row2[4].get_text().encode('ascii')
                        obj.place2 = row3[4].get_text().encode('ascii')
                        obj.show1 = row2[5].get_text().encode('ascii')
                        obj.show2 = row3[5].get_text().encode('ascii')
                        obj.show3 = row4[5].get_text().encode('ascii')
                        
                        out.append(obj.to_list())
#                         for attr in obj.to_list():
#                             pass
    if nobolds != []:
        pass
        #print nobolds
    return out
# Apply to each row and have the output be a row in the new, ready to use in the statistical analysis, df

#superdf.head().apply(extract, axis=1)
# using extract() to make the new everything dataframe
# everything_new = pd.DataFrame(superdf.apply(extract(row), axis=1))

In [153]:
cleandf = []
count = 0
for tup in superdf.itertuples():
    count += 1
    dateinfo = list(tup[1:5])
    #controls the scale of the problem during testing
    
    cleandf += extract(tup)
cleandf = pd.DataFrame(cleandf, columns=['track','year','month','day','racenum','firstnum','first','secondnum',\
                                         'second','thirdnum','third','win','place1','place2','show1','show2','show3'])
cleandf.to_csv('tempdata/cleandf.csv', columns=['track','year','month','day','racenum','firstnum','first','secondnum',\
                                         'second','thirdnum','third','win','place1','place2','show1','show2','show3'])
cleandf.head()

,track,year,month,day,racenum,firstnum,first,secondnum,second,thirdnum,third,win,place1,place2,show1,show2,show3
0,AQU,1998,10,28,1,3,CURVY IMAGE,6,DYNABILITY,2,ALYDAR'S JET,6.30,3.80,5.90,3.00,4.30,5.00
1,AQU,1998,10,28,2,3,MILLIONDOLLARSMILE,8,THIS BLISS,2,DOUBLE COVERAGE,14.00,4.80,3.40,3.10,2.60,3.00
2,AQU,1998,10,28,3,6,ROOK,2,ALEXTHETHIRD,8,LITTLE GHAZI,6.50,3.40,3.50,2.40,2.20,2.20
3,AQU,1998,10,28,4,2,WAPO,4,AUNT EVIE,8,WINTER BID,6.20,5.10,67.00,2.80,11.60,2.10
4,AQU,1998,10,28,5,8,FUNNY TOY (ARG),6,KANE KATI,1,MT. ARROW,16.00,7.70,6.30,3.50,3.90,3.10

In [160]:
cleandf = pd.read_csv('tempdata/cleandf.csv')
cleandf = cleandf[cleandf.columns[-17:]]
cleandf.head()

,track,year,month,day,racenum,firstnum,first,secondnum,second,thirdnum,third,win,place1,place2,show1,show2,show3
0,AQU,1998,10,28,1,3,CURVY IMAGE,6,DYNABILITY,2,ALYDAR'S JET,6.3,3.8,5.9,3.0,4.3,5.0
1,AQU,1998,10,28,2,3,MILLIONDOLLARSMILE,8,THIS BLISS,2,DOUBLE COVERAGE,14.0,4.8,3.4,3.1,2.6,3.0
2,AQU,1998,10,28,3,6,ROOK,2,ALEXTHETHIRD,8,LITTLE GHAZI,6.5,3.4,3.5,2.4,2.2,2.2
3,AQU,1998,10,28,4,2,WAPO,4,AUNT EVIE,8,WINTER BID,6.2,5.1,67.0,2.8,11.6,2.1
4,AQU,1998,10,28,5,8,FUNNY TOY (ARG),6,KANE KATI,1,MT. ARROW,16.0,7.7,6.3,3.5,3.9,3.1

In [ ]:
errortups = []
#Make sure we append to the same alldf
count = 0
allthethings = []
# For each date tuple...
for tup in superdf.itertuples():
    count += 1
    dateinfo = list(tup[1:5])
    #controls the scale of the problem during testing
    if count < 0:
        continue
    elif count > 60:
        break
    #gets rid of all the ones with just [] as the response
    elif tup[-1] == '[]':
        errortups.append(tup[:4])
    else:
        infos1 = [] #First 4 are the dates, then racenum, then rest is firstnum, first, etc...
        infos2 = []
        infos3 = []
        othercrap = []
        others3 = []
        for table in tables:
            boldys = []
            numsiwant = []
            for td in table.findAll('td'):
                bolds = td.findAll('b')
                if len(bolds) > 0:
                    boldys.append(bolds[0].text.encode('ascii'))
                if td.get('align') == 'RIGHT' and '<b>' not in str(td):
                    content = td.text.encode('ascii')
                    if content != '':
                        numsiwant.append(content)
            infopack3 = numsiwant[:6]
            infos3.append(infopack3)
            other3 = numsiwant[6:]
            others3.append(other3)
            try:
                infopack1 = dateinfo + [boldys[1],boldys[6],boldys[7],boldys[9],boldys[10],boldys[12],boldys[13]]
                infopack2 = boldys[14:]
                infos1.append(infopack1)
                infos2.append(infopack2)
                print dateinfo + [boldys[7]] in horsies
            except:
                #print "index error %i" % len(infopack1)
                othercrap.append((boldys,table))
            
        horsies.append([infos1[i][:4] + [infos1[i][6]]] for i in range(len(infos1)))
    allthethings.append([infos1,infos2,infos3,others3,othercrap])
    
ayy = pd.DataFrame(allthethings)
ayy.to_csv('tempdata/issues1.csv')
ayy.head(50)

In [ ]:
class RaceDataSet(object):
    
    def __init__(self, num):
        self.num = num
        self.datedata = None
        self.first = None
        self.second = None
        self.third = None
        self.firstnum = None
        self.secondnum = None
        self.thirdnum = None
        self.win = None
        self.place1 = None
        self.place2 = None
        self.show1 = None
        self.show2 = None
        self.show3 = None
        self.otherstuff = []

alldays = []
for day in allthethings:
    races = []
    for i in range(len(day[0])):
        infopack = day[0][i]
        infopack3 = day[2][i]
        racedata = RaceDataSet(infopack[4])
        if len(infopack3) > 2:
            racedata.win = infopack3[0]
            racedata.place1 = infopack3[1]
            racedata.place2 = infopack3[2]
            racedata.show1 = infopack3[3]
            racedata.show2 = infopack3[4]
            racedata.show3 = infopack3[5]
        datedata = infopack[:4]        
        racedata.datedata = datedata
        racedata.firstnum = infopack[5]
        racedata.first = infopack[6]
        racedata.secondnum = infopack[7]
        racedata.second = infopack[8]
        racedata.thirdnum = infopack[9]
        racedata.third = infopack[10]
        races.append(racedata)
    alldays.append(races)
 
alldf = []
for day in alldays:
    for race in day:
        try:
            stuff = [race.datedata[0],race.datedata[1],race.datedata[2],race.datedata[3],\
                     race.num,race.firstnum,race.first,race.secondnum,race.second,race.thirdnum,race.third,\
                     race.win,race.place1,race.place2,race.show1,race.show2,race.show3]
        except:
            stuff = [None,None,None,None,race.num,race.firstnum,race.first,race.secondnum,race.second,race.thirdnum,race.third,\
                     race.win,race.place1,race.place2,race.show1,race.show2,race.show3]
        alldf.append(stuff)


alldf = pd.DataFrame(alldf, columns=['track','year','month','day','racenum','firstnum','first','secondnum','second'\
                                    ,'thirdnum','third','win','place1','place2','show1','show2','show3'])

alldf.to_csv('tempdata/errything2.csv')
alldf.head(50)